:root {
    --default-black: #1D1A1A;
    --default-white: #FFF;
    --default-orange: #FD6925;
    --default-gray: #CFCFCF;

    --small-odsLogoRadius: 10px;
    --font-buttonFont: 'Share', sans-serif;
    --font-titleFont: 'Share', sans-serif;
    --font-labelFont: 'Volkhov';
    --font-textFont: 'Montserrat Alternates';
}

body {
    background-color: var(--default-black);
    color: var(--default-white);
}

#header {
    max-width: 100%;
}


.header-content {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.menu-area {
    display: flex;
    font-family: 'Share', sans-serif;
    list-style: none;
    gap: 10px;
}

.menu-burguer {
    display: none;
}

.header-content ul li a {
    padding: 1rem;
    font-weight: bold;
    color: #fefefe;
    text-decoration: none ;
}

.header-content ul li a:hover {
    color: var(--default-orange);
    transition: .5s ease;
}

.submit-button {
    background-color: var(--default-orange);

    border-radius: var(--small-odsLogoRadius);
    border: none;

    color: var(--default-white);

    font-family: var(--font-buttonFont);
    font-weight: 500;
    font-size: 1rem;

    width: 250px;
    height: 60px;

    cursor: pointer;
}

.submit-button:hover {
    border: 2px solid var(--default-gray)
}

.container {
    width: calc(100vw - 10%);
    margin: 0 auto;
}

.text-box {
    background-color: var(--default-white);

    border-radius: var(--small-odsLogoRadius);
    border: none;
    outline: none;

    color: var(--default-gray);

    font-family: var(--font-textFont);
    font-weight: 500;
    font-size: 1rem;

    width: 400px;
    height: 60px;

    text-align: left;

    padding-left: 15px;
    margin-bottom: 20px;
}

textarea {
    background-color: var(--default-white);

    border-radius: var(--small-odsLogoRadius);
    border: none;
    outline: none;

    color: var(--default-gray);

    font-family: var(--font-textFont);
    font-weight: 500;
    font-size: 1rem;

    width: 425px;
    height: 91%;

    text-align: left;

    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.text-box:focus, textarea:focus {
    color: var(--default-black); 
}

.form-content {
    margin: 0 auto;
}

.form-container {
    display: flex;
    gap: 40px;
}

.form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.form-inputs label {
    justify-content: flex-start;
}

.opinion-container {
    width: 100%;
}

label {
    width: 100%;
    display: flex;
    font-family: var(--font-labelFont);
    margin-left: 7px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

table {
    width: 100%;
    display: flex;
}

h4 {
    font-family: var(--font-titleFont);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

/* Form list */
.delete-button {
    color: var(--default-gray);
    background-color: var(--default-orange);
    border-style: none;
    text-align: center;
    border-radius: 3px;
    width: 1.5rem;
    height: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#list-buttons{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    >button {
        color: var(--default-white);
        background-color: var(--default-orange);
        border-style: none;
        border-radius: var(--small-odsLogoRadius);
    
        width: 10em;
        height: 4em;
        font-family: var(--font-buttonFont);
        font-size: .9em;
        font-weight: 400;
        cursor: pointer;
    
        &:hover {
            border: 2px solid var(--default-gray);
        }
    }
}

#search-selector {
    color: var(--default-white);
    background-color: var(--default-orange);

    width: 10em;
    height: 4em;
    font-family: var(--font-buttonFont);
    font-size: 1em;
    font-weight: 400;
    border-style: none;
    border-radius: var(--small-odsLogoRadius);
}

.form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding: 0;
    
    
    >ul#list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        >li {
            display: inline;

            width: 75%;
            background-color: var(--default-white);
            padding: 20px;
            margin-bottom: 20px;
            border-radius: var(--small-odsLogoRadius);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            
            >.opinion-header {
                display: flex;
                justify-content: space-between;
                
                >.form-name {
                    font-weight: bold;
                    color: var(--default-black);
                }
            }

            .form-email {
                color: var(--default-gray);
                font-style: italic;
            }

            .form-opinion {
                font-weight: bold;
                color: var(--default-gray);
            }
        }   
    }
}



.footer_inf {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: 15px;
}
.footer_inf span {
    width: 100%;
    color: var(--default-white, #CFCFCF);
    text-align: center;
    font-family: Share;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 359px) {
    body {
        display: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 810px) {
    .menu-area {
        display: none;
    }
    
    .container {
        max-width: calc(100vw - 20px);
        overflow: hidden;
    }

    .logo {
        height: 40px;
    }
    
    .menu-burguer {
        display: block;
        font-size: 30px;
        color: var(--default-white);
        cursor: pointer;
    }
    
    h4 {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .form-content {
        display: flex;
        width: 100%;
        height: 100%;

        justify-content: center;
        flex-direction: column; 
        align-items: center;
    }
    
    .form-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        
        flex-direction: column;
        align-items: center;
    }

    .form-inputs {
        width: auto;
        height: auto;
    }

    .text-box {
        background-color: var(--default-white);
    
        border-radius: var(--small-odsLogoRadius);
        border: none;
        outline: none;
    
        color: var(--default-gray);
    
        font-family: var(--font-textFont);
        font-weight: 500;
        font-size: 1rem;
    
        width: calc(80vw - 20px);
        height: 60px;
    
        text-align: left;
    
        padding-left: 15px;
        margin-bottom: 10px;
    }

    .submit-button {
        width: calc(50vw - 10px);  
    }

    .opinion-container {
        display: none; 
    }
}